* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

body {
  background-color: #f8f8f8;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

.App {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

h1 {
  color: #888;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.total-income {
  color: #888;
  font-size: 28px;
  font-weight: 900;
  background-color: #dfdfdf;
  padding: 5px 25px;
  border-radius: 8px;
}

.income-form {
  display: block;
  margin: 15px;
  position: relative;
}
.income-form:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-image: linear-gradient(to right, #ffce00, #fe4880);
  border-radius: 10px;
  transition: 0.2s;
}
.income-form:focus-within:after {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
}

.form-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.4s;
  border-radius: 8px;
}
.form-inner input {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #fff;
}

.form-inner input[type=text] {
  border-radius: 8px 0px 0px 8px;
  flex: 1 1 100%;
}

.form-inner input[type=number] {
  flex: 1 1 100%;
}

.form-inner input[type=date] {
  border-radius: 0px;
  flex: 1 1 100%;
  min-width: 200px;
}

.form-inner input[type=submit] {
  border-radius: 0px 8px 8px 0px;
  flex: 1 1 100%;
  cursor: pointer;
  background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #fe4880);
  background-size: 200%;
  background-position: 0%;
  color: #313131;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.4s;
}
.form-inner input[type=submit]:hover {
  background-position: 100%;
  color: #fff;
}

.income-list {
  padding: 15px;
}
.income-list .income-item {
  position: relative;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  transition: 0.4s;
  padding-left: 75px;
}
.income-list .income-item:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.income-list .income-item:hover .remove-item {
  width: 50px;
}
.income-list .income-item .desc {
  flex: 1 1 100%;
}
.income-list .income-item .price,
.income-list .income-item .date {
  min-width: 125px;
}
.income-list .income-item .remove-item {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
  color: #f8f8f8;
  font-weight: 600;
  background: #ff1e2d;
  border-radius: 8px 0px 0px 8px;
  transition: 0.2s;
}

@media screen and (max-width: 400px) {
  header {
    width: 80%;
    padding: 20px 5px 40px;
  }

  .income-form {
    margin: 20px auto;
  }

  .form-inner input[type=text],
.form-inner input[type=text],
.form-inner input[type=date],
.form-inner input[type=submit] {
    width: 100% !important;
  }

  .total-income {
    margin-left: 50px;
    font-size: 18px;
    padding: 25px 15px;
  }

  input {
    width: 100%;
    border-radius: 0;
  }

  .income-list {
    padding: 20px 0;
    text-align: center;
  }
  .income-list .income-item {
    width: 100%;
    padding: 10px 25px 10px 5px;
    text-align: start;
  }
  .income-list .income-item:hover .remove-item {
    width: 20px;
  }
  .income-list .income-item .desc {
    margin-left: 18px;
  }
  .income-list .income-item .price {
    text-align: center;
    padding-left: 12px;
  }
  .income-list .income-item .date {
    text-align: center;
    padding-right: 65px;
  }
  .income-list .income-item .desc,
.income-list .income-item .price,
.income-list .income-item .date {
    max-width: 50px;
  }
}

/*# sourceMappingURL=App.css.map */
